@font-face {
    font-display: swap; 
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/abril-fatface-v23-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/itim-v14-latin-regular.woff2') format('woff2');
}
  
* {
    font-family: "Itim", cursive;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    background-color: #DEB3FF;
}

.navbar {
    background-color: #B3CC9F;
    overflow: auto;
}

.navbar img {
    float: left;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 22.5px;
}

nav {
    float: right;
    background-color: #B3CC9F;
}

nav li {
    display: inline;
    margin: 15px;
}

nav a {
    color: #212121;
    text-decoration: none;
    display: inline-block;
    padding-top: 15px;
    font-size: 0.5cm;
}

nav a:hover {
    color: #3B4D22;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 50px;
}

.grid-item-1 {
    position: relative;
    margin: auto;
}

.grid-item-1:hover .overlay-1 {
    opacity: 1;
  }

.overlay-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #DEB3FF;
    text-align: center;
    color: #212121;
    font-size: 0.8cm;
    padding-top: 70%;
}

.grid-item-2 {
    position: relative;
    margin: auto;
}

.grid-item-2:hover .overlay-2 {
    opacity: 1;
  }

.overlay-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #DEB3FF;
    text-align: center;
    color: #212121;
    font-size: 0.8cm;
    padding-top: 70%;
}

.grid-item-3 {
    position: relative;
    margin: auto;
}

.grid-item-3:hover .overlay-3 {
    opacity: 1;
  }

.overlay-3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #DEB3FF;
    text-align: center;
    color: #212121;
    font-size: 0.8cm;
    padding-top: 70%;
}

.grid-item-4 {
    position: relative;
    margin: auto;
}

.grid-item-4:hover .overlay-4 {
    opacity: 1;
  }

.overlay-4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #DEB3FF;
    text-align: center;
    color: #212121;
    font-size: 0.8cm;
    padding-top: 70%;
}

.grid-item-5 {
    position: relative;
    margin: auto;
}

.grid-item-5:hover .overlay-5 {
    opacity: 1;
  }

.overlay-5 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #DEB3FF;
    text-align: center;
    color: #212121;
    font-size: 0.8cm;
    padding-top: 70%;
}

footer {
    text-align: center;
    padding-top: 35px;
    background-color: #B3CC9F;
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    color:#212121;
    font-size: 0.5cm;
} 

footer a {
    text-decoration: none;
    color:#212121;
}

footer a:hover {
    color:#3B4D22;
}

@media only screen and (max-width: 600px) {

    .navbar img {
        float: none;
        margin: auto;
        display: block;
        padding-bottom: 5px;
    }

    nav ul {
        margin: 0px;
        margin-bottom: 20px;
    }

    nav {
        float: none;
    }

    nav li {
        display: block;
        text-align: center;
        margin: 3px;
    }
 
    .grid-container {
        grid-template-columns: auto;
        margin-top: 0px;
    }

    footer {
        position: relative;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1350px) {
        
    .navbar img {
        float: none;
        margin: auto;
        display: block;
        padding-bottom: 5px;
    }

    nav {
        float: none;
        text-align: center;
    }

    .grid-container {
        grid-template-columns: auto;
        margin-top: 0px;
    }

    footer {
        position: relative;
    }
}